@{
    ViewBag.Title = "账户管理";
    ViewBag.LogInState = Session["LogInState"];
    ViewBag.User = Session["User"];
}

<div class="col-md-12">
<button onclick="location.href='@Url.Action("ChangePassword", "Account")'" class="btn btn-primary">修改密码</button>
</div>