@model Supa_Web.Models.LogInModel

@{
    ViewBag.Title = "登录";
    ViewBag.LogInState = Session["LogInState"];
    ViewBag.User = Session["User"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.UserName, "用户名")
        @Html.EditorFor(model => model.UserName)
    </p>
    <p>
        @Html.LabelFor(model => model.Password, "密码")
        @Html.PasswordFor(model => model.Password)
    </p>
    <p>
        <input type="submit" value="登录" />
    </p>
}